<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="anguosoft" verbose="1" >
  <test name="Regression2">
  <groups>  
    <run>  
      <exclude name="test_database_affect"  />
      <exclude name="test_web_affect"  />
      <exclude name="test_util_affect"  />
      <exclude name="test_service_affect"  />
      <exclude name="test_interface_affect"  />
    </run>  
  </groups> 
  
  
    <packages>
      <package name="com.anguo.service.test" />
   </packages>
 </test>
</suite>