@charset "utf-8";
/* DIVCSS5 www.divcss5.com - ThinCSS www.thinkcss.com �뱣���Ա��ۺ�ά������� */
html,body{-webkit-text-size-adjust:none}
body{background:#FFF url(../images/home-bg.png) repeat-x 0 0}
#nav{background:url(../images/nav-info-onlie.png) no-repeat center 0}

#info-flash{margin:0 auto;width:960px;height:185px;padding:15px 10px 10px 10px;background:url(../images/flash-980x205.png) no-repeat center 5px}
div#MainPromotionBanner{width:960px;height:185px;overflow:hidden}
#MainPromotionBanner #SlidePlayer{position:relative;margin:0 auto}
#MainPromotionBanner .Slides{padding:0;margin:0;list-style:none;height:185px;overflow:hidden}
#MainPromotionBanner .Slides li{float:left;width:960px;height:185px}
#MainPromotionBanner .Slides li img{border:0;display:block;width:960px;height:185px}
#MainPromotionBanner .SlideTriggers{margin:0;padding:0;list-style:none;position:absolute;top:167px;right:3px;z-index:10;height:25px}
#MainPromotionBanner .SlideTriggers li{float:left;display:inline;color:#FFF;text-align:center;line-height:13px;width:13px;height:13px;cursor:pointer;overflow:hidden;margin:0 2px;background:#2E2E2E}
#MainPromotionBanner .SlideTriggers li.Current{color:#FFF;background:#F26B00;border:0;line-height:13px;height:13px;width:13px;margin:0 2px}

#info-main ,#contact-box{padding:16px 0 10px 0;margin:0 auto;width:980px;background:url(../images/info-ceng-bg.png) no-repeat center 10px;overflow:hidden}
#info-left{float:left;width:250px;padding-left:5px}
#info-right{float:right;width:670px;text-align:left;padding-right:24px;padding-top:5px}

.info-left-title{width:250px;height:49px;line-height:49px;overflow:hidden}.info-left-title img{float:left}
ul.ileft-box ,.ileft-bos{width:250px;overflow:hidden;padding-bottom:5px;text-align:left}
ul.ileft-box li,ul.ileft-box li.s{float:left;width:100%;height:30px;background:url(list-li.png) no-repeat center 0;overflow:hidden}
ul.ileft-box li a,ul.ileft-box li.s a{height:30px;line-height:30px;font-weight:bold;color:#767676;font-size:14px;float:left;padding-left:53px;width:190px;background:url(../images/list-a.png) no-repeat 31px 9px}
ul.ileft-box li.s a{ text-indent:20px;background:url(../images/list-a.png) no-repeat 51px 9px}
ul.ileft-box li a:hover,ul.ileft-box li a.on{color:#EB6D00;background:url(../images/list-a-hover.png) no-repeat 31px 9px}
ul.ileft-box li.s a:hover,ul.ileft-box li.s a.on{color:#EB6D00;background:url(../images/list-a-hover.png) no-repeat 51px 9px}
ul.ileft-box li.top{height:4px;background:url(../images/list-tops.png) no-repeat center bottom}
ul.ileft-box li.end{height:14px;background:url(../images/ileft-bot.png) no-repeat center 0}

.ileft-bos h3.title{height:32px;line-height:32px;width:100%}.ileft-bos h3.title img{float:left}
.ileft-cb{background:url(../images/left-c-bg.png) repeat-y center 0;width:220px;margin:0 auto;padding:11px 15px 0 15px}
.adds{line-height:24px;color:#474747; overflow:hidden; width:100%; text-align:left}
.ileft-bot{width:100%;height:14px;background:url(../images/ileft-bot.png) no-repeat center 0}

.right-title ,#contact-box .all-title{height:39px;width:100%}
.right-title h3.title ,#contact-box .all-title h3.title{float:left;height:39px;line-height:39px;font-size:16px;font-weight:normal;text-indent:28px;font-family:"΢���ź�"}
.right-title .loc ,#contact-box .all-title .loc{float:right;height:39px;line-height:39px;text-align:right;font-size:14px}

/* about us */
#right-Article ,#right-Article #Article{width:100%;margin:0 auto;text-align:left;font-size:14px;line-height:24px;padding-top:18px;padding-bottom:10px;overflow:hidden;font-family:"΢���ź�"}
#right-Article img ,#right-Article #Article img{max-width:670px}

/* ���� */
#Search-form{ padding:10px 0 10px 0; width:100%; text-align:left}
input.keywords{ float:left; height:28px; line-height:28px; padding:0 5px; border:1px solid #DBDFE6; width:198px; background:url(../images/input_1.png) repeat-x 0 0;}
input.bottoms{ float:left; height:28px; margin-left:10px; line-height:28px; border:1px solid #DBDFE6; font-weight:bold; cursor:pointer; text-align:center; width:70px;background:url(../images/btn_1.png) repeat-x 0 0;}

ul.ty-new{ padding:10px 0px; width:630px; text-align:left}
ul.ty-new li{ padding:0px 0px 0px 20px; background:url(../images/line.gif) no-repeat; width:100%; float:left; overflow:hidden}
ul.ty-new li h4.title{ float:left; width:530px; height:35px; font-size:14px; color:#333333; overflow:hidden; line-height:35px; font-weight:normal; font-family:"΢���ź�"}
ul.ty-new li h4.title a{color:#333333; }
ul.ty-new li span{ float:right; height:35px; line-height:35px; text-align:right; width:100px;}

ul.ty-q{ padding:10px 0px; width:630px; text-align:left}
ul.ty-q li h4.t1{ float:left; padding:0px 0px 0px 25px; background:url(/../images/q.png) no-repeat; width:635px; font-size:14px; color:#333333; overflow:hidden; height:30px; line-height:30px; font-weight:normal; font-family:"΢���ź�"}
ul.ty-q li h4.t2{ float:left; margin-top:5px; padding:0px 0px 0px 25px; background:url(/../images/a.png) no-repeat; width:635px; font-size:12px; color:#888888; overflow:hidden; font-weight:normal}

.pages{ width:100%; line-height:22px; padding:20px 0; overflow:hidden; text-align:right; font-size:14px;}
.pages .tiao{ line-height:18px; width:30px; text-align:center; border:1px solid #DBDFE6; }
.pages span{ padding:0 4px; color:#FFF; background:#333}

/* Article */
#right-Article h1.title ,#right-Article h2.title{ width:100%; line-height:38px; padding-bottom:10px; text-align:center; font-size:26px; color:#D2261E; font-family:"΢���ź�"}
#right-Article #Article{ padding-top:0;}
#right-Article .fu{ border-top:2px solid #EAEAEA; background:#FBFBFB; color:#000000; overflow:hidden; height:2px; width:670px}
#right-Article .fenxiang{ width:100%; text-align:left; padding:10px 0; overflow:hidden}
#right-Article #Article a ,#right-Article .up-down a{ color:#06F; text-decoration:underline}#right-Article #Article a:hover ,#right-Article .up-down a:hover{ color:#F00}
#right-Article .up-down{ width:100%; color:#C30; font-size:14px; padding:10px 0; text-align:left; line-height:24px; font-size:14px;}

/* history */
#right-Article h2.title{ text-align:left; border-bottom:1px solid #EEE}

dl#history{ margin:0 auto; padding:30px 20px; width:630px; text-align:left; overflow:hidden;border-bottom:1px solid #EEE; margin-bottom:20px;s}
dl#history dt.year{font-size:40px;height:80px;line-height:80px;text-indent:38px; color:#fe7327;border-bottom:1px dotted #999999;margin-bottom:20px; width:100%;}
dl#history dd{margin: 0 0 6px; line-height:24px; width:100%; font-size:14px; font-family:"΢���ź�"}

/* honors */
#right-Article h1.tleft{ text-align:left}
ul.honors-title{ background:#FBFBFB; width:100%; height:40px;  border-top:2px solid #F2F2F2}
ul.honors-title li,ul.honors-title li.nav_linkt{ float:left; padding:0 25px; cursor:pointer; line-height:40px;height:40px;font-size:14px; color:#333333;}
ul.honors-title li.nav_currentt{ font-weight:bold; color:#C13417}
ul.honors-img ,#products-home ul.dui{ width:650px; padding:10px; overflow:hidden}
ul.honors-img li ,#products-home ul.dui li{ float:left; padding:10px 10px 10px 10px; height:178px; text-align:center; width:195px; height:165px}
ul.honors-img li img ,#products-home ul.dui li img{ float:left; padding:4px; border:1px solid #DDDDDD; width:185px; height:140px;}
ul.honors-img li span ,#products-home ul.dui li span{ float:left; height:50px; line-height:25px;  font-family:"΢���ź�"; width:100%; overflow:hidden}


ul.honors-img1{ width:650px; padding:10px; overflow:hidden}
ul.honors-img1 li{ float:left; padding:10px 10px 10px 10px; text-align:center; width:195px;height:270px;}
ul.honors-img1 li img{ float:left; padding:4px; border:1px solid #DDDDDD; width:185px; height:240px;}
ul.honors-img1 li span{ float:left; height:50px; line-height:25px;  font-family:"΢���ź�"; width:100%; overflow:hidden}

ul.img-list{ width:660px; padding:0px; overflow:hidden}
ul.img-list li{ float:left; padding:10px 10px 10px 10px; text-align:center; width:200px;height:165px;}
ul.img-list li img{ float:left; padding:2px; border:1px solid #DDDDDD; width:195px; height:135px;}
ul.img-list li span{ float:left; height:50px; line-height:25px;  font-family:"΢���ź�"; width:100%; overflow:hidden}


/* products home */
#products-home{padding:0px 10px; text-align:left; width:650px; overflow:hidden; line-height:18px; font-size:12px;}
#products-home ul.dui{ width:100%; padding:10px 0;}
#products-home ul.dui li{ padding:0 6px 20px 6px; float:left; text-align:center; width:312px; height:236px; overflow:hidden}
#products-home ul.dui li img{ width:302px; height:200px;}
#products-home ul.dui li span{ height:26px; line-height:26px;width:302px;}

/* contact */
#contact-box{background:url(../images/info-ceng-bgs.png) no-repeat center 10px; min-height:800px;}
#contact-box .all-title{ padding:0 20px; width:940px; margin:0 auto; padding-top:6px;}
#contact-box .all-title h3.title{ text-indent:35px}
#contact-box h2.title{width:920px; margin:0 auto; padding-top:20px; line-height:38px; padding-bottom:10px; text-align:left; font-size:24px;border-bottom:1px solid #EEE; font-weight:bold; color:#D2261E}
#contact-box .icontact{width:920px; margin:0 auto; font-size:14px; overflow:hidden; text-align:left; padding:10px 0; color:#686868; font-family:"΢���ź�"}
#contact-box .icontact p{color:#686868}

.icontact-left{ float:left; width:682px;}
.icontact-right{ float:right; width:220px;}
.icontact-right p{color:#686868; text-align:left; font-size:14px;}
.i-box{ border:1px solid #CCCCCC; padding:30px; margin-bottom:20px;}
.i-box h3 ,.icontact-left h3.titls{ font-size:26px; margin-bottom:20px; color:#F00; font-family:"΢���ź�"}
.i-box p{ color:#999999; font-size:14px; font-family:"΢���ź�"}
.i-box img{ float:right;}
.icontact-left h3.titls{ font-size:20px}
.icontact-left .maps{width:680px;border:1px solid #CCCCCC;margin-bottom:20px; overflow:hidden}
