@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-family: Arial, "微软雅黑", sans-serif;
	max-width: 720px;
	margin: 0 auto;
	height: 100%;
}

#page1 {
	width: 100%;
	height: 100%;
}

div#div-bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -2;
}

div#div-bg > img {
	height: 100%;
	width: 100%;
	border: 0;
}

.center {
	text-align: center;
	margin: 0 auto;
}

#div-go {
	width: 36%;
	position: absolute;
	left: 30%;
	bottom: 16%;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	/*Safari and Chrome*/
}

#div-num {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
}

#div-title {
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}

#div-line {
	height: 1px;
}

.list {
	color: white;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.item {
	float: left;
	padding-left: 48px;
}

.check {
	float: right;
	width: 27px;
	height: 27px;
	padding-right: 48px;
}

#page3 > .list {
	height: 60px;
	line-height: 60px;
}

#p3_div_item1 {
	clear: both;
	margin-top: 50px;
}

#p3_div_item2 {
	clear: both;
	margin-top: 20px;
}

#p3_div_item2 {
	clear: both;
	margin-top: 20px;
}

#p3_div_item3 {
	clear: both;
	margin-top: 20px;
}

.listword1 {
	clear: both;
	margin-top: 50px;
}

.listword {
	clear: both;
	margin-top: 20px;
}

.result_1 {
	color: white;
	font-size: 26px;
	margin-top: 50px;
}

.result_2 {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}

.result_3 {
	color: white;
	font-size: 18px;
	margin-top: 20px;
}
.result_4 {
	color: white;
	font-size: 18px;
	margin-top: 10px;
}

.result_5{
	margin-top: 80px;
	
}

#page7_go{
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#page8_go{
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#page9_go{
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.result_6 {
	color: white;
	font-size: 15px;
	margin-top: 50px;
}
.result_7 {
	color: white;
	font-size: 15px;
	margin-top: 8px;
}

#div-evcode{
	width: 30%;
	position: absolute;
	left: 35%;
	bottom: 31%;
}

#div-invitation {
	width: 33%;
	position: absolute;
	left: 34%;
	bottom: 10%;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	/*Safari and Chrome*/
}

#page11 {
 opacity: 0.95;
 top:0;
 width:100%;
 height:100%;
 position: absolute;
}

#div_incode{
	width: 50%;
	background:white; 
	border-radius:10px;
	-moz-border-radius: 10px;
	margin: 0 auto;
	margin-top: 33%;
}

#div_incode>p{
	color: #6adbd7;
	font-size: 20px;
	background: ;
}
