<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anguo.web.db.mapper.WebConfigMapper">

 <!-- 配置内容信息 -->
	<resultMap id="webConfigMap" type="com.anguo.web.db.domain.WebConfig" >
		
		 		<result property="id" column="id" />
		 		<result property="code" column="code" />
		 		<result property="title" column="title" />
		 		<result property="contentType" column="content_type" />
		 		<result property="contentClass" column="content_class" />
		 		<result property="content" column="content" />
		 		<result property="status" column="status" />
		 		<result property="operateUserId" column="operate_user_id" />
		 		<result property="operateDate" column="operate_date" />
		 	</resultMap>



<!-- 查询 -->
<select id="getPageData" resultMap="webConfigMap"
               parameterType="com.anguo.web.db.domain.WebConfig">
     select * from wenanguo.web_config 
     <trim prefix="where" prefixOverrides="and |or ">
             <if test="id != null and id != ''">
           and (id like concat(#{id},'%') or id like concat(#{id},'%'))
        </if>
             <if test="code != null and code != ''">
           and (code like concat(#{code},'%') or code like concat(#{code},'%'))
        </if>
             <if test="contentType != null and contentType != ''">
           and (content_type like concat(#{contentType},'%') or content_type like concat(#{contentType},'%'))
        </if>
             <if test="contentClass != null and contentClass != ''">
           and (content_class like concat(#{contentClass},'%') or content_class like concat(#{contentClass},'%'))
        </if>
             <if test="content != null and content != ''">
           and (content like concat(#{content},'%') or content like concat(#{content},'%'))
        </if>
             <if test="status != null and status != ''">
           and (status like concat(#{status},'%') or status like concat(#{status},'%'))
        </if>
             <if test="operateUserId != null and operateUserId != ''">
           and (operate_user_id like concat(#{operateUserId},'%') or operate_user_id like concat(#{operateUserId},'%'))
        </if>
             <if test="operateDate != null and operateDate != ''">
           and (operate_date like concat(#{operateDate},'%') or operate_date like concat(#{operateDate},'%'))
        </if>
          </trim>
     order by id asc
</select>

<!-- 查询 -->
<select id="getAllData" resultMap="webConfigMap"
               parameterType="com.anguo.web.db.domain.WebConfig">
     select * from wenanguo.web_config 
     <trim prefix="where" prefixOverrides="and |or ">
             <if test="id != null and id != ''">
           and (id like concat(#{id},'%') or id like concat(#{id},'%'))
        </if>
             <if test="code != null and code != ''">
           and (code like concat(#{code},'%') or code like concat(#{code},'%'))
        </if>
             <if test="contentType != null and contentType != ''">
           and (content_type like concat(#{contentType},'%') or content_type like concat(#{contentType},'%'))
        </if>
             <if test="contentClass != null and contentClass != ''">
           and (content_class like concat(#{contentClass},'%') or content_class like concat(#{contentClass},'%'))
        </if>
             <if test="content != null and content != ''">
           and (content like concat(#{content},'%') or content like concat(#{content},'%'))
        </if>
             <if test="status != null and status != ''">
           and (status like concat(#{status},'%') or status like concat(#{status},'%'))
        </if>
             <if test="operateUserId != null and operateUserId != ''">
           and (operate_user_id like concat(#{operateUserId},'%') or operate_user_id like concat(#{operateUserId},'%'))
        </if>
             <if test="operateDate != null and operateDate != ''">
           and (operate_date like concat(#{operateDate},'%') or operate_date like concat(#{operateDate},'%'))
        </if>
          </trim>
     order by id asc
</select>

<!-- 读一条记录 -->
<select id="getData" resultMap="webConfigMap" parameterType="com.anguo.web.db.domain.WebConfig">
    select * from  wenanguo.web_config
    where id = #{id}
</select>

<!-- 读一条记录 -->
<select id="getDataByCode" resultMap="webConfigMap" parameterType="String">
    select * from  wenanguo.web_config
    where code = #{code}
</select>

<!-- 插入记录  -->
<insert id="insertData" parameterType="com.anguo.web.db.domain.WebConfig" useGeneratedKeys="true" keyProperty="id">
	
	insert into  wenanguo.web_config
	<trim prefix="(" suffix=")" suffixOverrides=",">
		id,
		 		 		 		 		<if test="code != null">
				code,
	  	</if>
	  			 		 		<if test="contentType != null">
				content_type,
	  	</if>					<if test="title != null">
				title,
	  	</if>
	  			 		 		<if test="contentClass != null">
				content_class,
	  	</if>
	  			 		 		<if test="content != null">
				content,
	  	</if>
	  			 		 		<if test="status != null">
				status,
	  	</if>
	  			 		 		<if test="operateUserId != null">
				operate_user_id,
	  	</if>
	  			 		 		<if test="operateDate != null">
				operate_date,
	  	</if>
	  			 	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
#{id},
		
		<if test="code != null">
#{code},
</if>
				<if test="contentType != null">
#{contentType},
</if>
				<if test="title != null">
#{title},
</if>
				<if test="contentClass != null">
#{contentClass},
</if>
				<if test="content != null">
#{content},
</if>
				<if test="status != null">
#{status},
</if>
				<if test="operateUserId != null">
#{operateUserId},
</if>
				<if test="operateDate != null">
#{operateDate},
</if>
					</trim>
</insert>

<!-- 修改  -->
<update id="updateData" parameterType="com.anguo.web.db.domain.WebConfig">
	update  wenanguo.web_config 
	<set>
										<if test="code != null and code != ''">
			code=#{code},
		</if>
								<if test="contentType != null and contentType != ''">
			content_type=#{contentType},
		</if>
		<if test="title != null and title != ''">
			title=#{title},
		</if>
								<if test="contentClass != null and contentClass != ''">
			content_class=#{contentClass},
		</if>
								<if test="content != null and content != ''">
			content=#{content},
		</if>
								<if test="status != null and status != ''">
			status=#{status},
		</if>
								<if test="operateUserId != null and operateUserId != ''">
			operate_user_id=#{operateUserId},
		</if>
								<if test="operateDate != null and operateDate != ''">
			operate_date=#{operateDate},
		</if>
					</set>
	where id=#{id}
</update>

<!-- 删除 -->
<delete id="deleteData" parameterType="com.anguo.web.db.domain.WebConfig">
	delete from  wenanguo.web_config 
	where id=#{id}
</delete>

</mapper>