<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anguo.oy.db.mapper.XyCampaignMapper">

 <!-- 配置内容信息 -->
	<resultMap id="xyCampaignMap" type="com.anguo.oy.db.domain.XyCampaign" >
		
		 		<result property="id" column="id" />
		 		<result property="fromopenid" column="fromopenid" />
		 		<result property="fromnickname" column="fromnickname" />
		 		<result property="fromsex" column="fromsex" />
		 		<result property="fromheadimgurl" column="fromheadimgurl" />
		 		<result property="toopenid" column="toopenid" />
		 		<result property="tonickname" column="tonickname" />
		 		<result property="tosex" column="tosex" />
		 		<result property="toheadimgurl" column="toheadimgurl" />
		 		<result property="city" column="city" />
		 		<result property="dosamething" column="dosamething" />
		 		<result property="status" column="status" />
		 		<result property="operateUserId" column="operate_user_id" />
		 		<result property="operateDate" column="operate_date" />
		 		 <result property="realName" column="real_name" />
	</resultMap>

<!-- 分页查询 -->
<select id="getPageData" resultMap="xyCampaignMap"
               parameterType="com.anguo.oy.db.domain.XyCampaign">
     select a.*,b.real_name from ${commonSchema}.xy_campaign a left join ${commonSchema}.common_sys_user b on a.operate_user_id=b.id 
     <trim prefix="where" prefixOverrides="and |or ">
             <if test="id != null and id != ''">
           and (a.id like concat('%',concat(#{id},'%')))
        </if>
             <if test="fromopenid != null and fromopenid != ''">
           and (a.fromopenid like concat('%',concat(#{fromopenid},'%')))
        </if>
             <if test="fromnickname != null and fromnickname != ''">
           and (a.fromnickname like concat('%',concat(#{fromnickname},'%')))
        </if>
             <if test="fromsex != null and fromsex != ''">
           and (a.fromsex like concat('%',concat(#{fromsex},'%')))
        </if>
             <if test="fromheadimgurl != null and fromheadimgurl != ''">
           and (a.fromheadimgurl like concat('%',concat(#{fromheadimgurl},'%')))
        </if>
             <if test="toopenid != null and toopenid != ''">
           and (a.toopenid like concat('%',concat(#{toopenid},'%')))
        </if>
             <if test="tonickname != null and tonickname != ''">
           and (a.tonickname like concat('%',concat(#{tonickname},'%')))
        </if>
             <if test="tosex != null and tosex != ''">
           and (a.tosex like concat('%',concat(#{tosex},'%')))
        </if>
             <if test="toheadimgurl != null and toheadimgurl != ''">
           and (a.toheadimgurl like concat('%',concat(#{toheadimgurl},'%')))
        </if>
             <if test="city != null and city != ''">
           and (a.city like concat('%',concat(#{city},'%')))
        </if>
             <if test="dosamething != null and dosamething != ''">
           and (a.dosamething like concat('%',concat(#{dosamething},'%')))
        </if>
             <if test="status != null and status != ''">
           and (a.status like concat('%',concat(#{status},'%')))
        </if>
             <if test="operateUserId != null and operateUserId != ''">
           and (a.operate_user_id like concat('%',concat(#{operateUserId},'%')))
        </if>
             <if test="operateDate != null and operateDate != ''">
           and (a.operate_date like concat('%',concat(#{operateDate},'%')))
        </if>
          </trim>
     order by id desc
</select>
	

<!-- 查询 -->
<select id="getAllData" resultMap="xyCampaignMap"
               parameterType="com.anguo.oy.db.domain.XyCampaign">
     select a.*,b.real_name from ${commonSchema}.xy_campaign a left join ${commonSchema}.common_sys_user b on a.operate_user_id=b.id 
     <trim prefix="where" prefixOverrides="and |or ">
             <if test="id != null and id != ''">
           and (a.id like concat('%',concat(#{id},'%')))
        </if>
             <if test="fromopenid != null and fromopenid != ''">
           and (a.fromopenid like concat('%',concat(#{fromopenid},'%')))
        </if>
             <if test="fromnickname != null and fromnickname != ''">
           and (a.fromnickname like concat('%',concat(#{fromnickname},'%')))
        </if>
             <if test="fromsex != null and fromsex != ''">
           and (a.fromsex like concat('%',concat(#{fromsex},'%')))
        </if>
             <if test="fromheadimgurl != null and fromheadimgurl != ''">
           and (a.fromheadimgurl like concat('%',concat(#{fromheadimgurl},'%')))
        </if>
             <if test="toopenid != null and toopenid != ''">
           and (a.toopenid like concat('%',concat(#{toopenid},'%')))
        </if>
             <if test="tonickname != null and tonickname != ''">
           and (a.tonickname like concat('%',concat(#{tonickname},'%')))
        </if>
             <if test="tosex != null and tosex != ''">
           and (a.tosex like concat('%',concat(#{tosex},'%')))
        </if>
             <if test="toheadimgurl != null and toheadimgurl != ''">
           and (a.toheadimgurl like concat('%',concat(#{toheadimgurl},'%')))
        </if>
             <if test="city != null and city != ''">
           and (a.city like concat('%',concat(#{city},'%')))
        </if>
             <if test="dosamething != null and dosamething != ''">
           and (a.dosamething like concat('%',concat(#{dosamething},'%')))
        </if>
             <if test="status != null and status != ''">
           and (a.status like concat('%',concat(#{status},'%')))
        </if>
             <if test="operateUserId != null and operateUserId != ''">
           and (a.operate_user_id like concat('%',concat(#{operateUserId},'%')))
        </if>
             <if test="operateDate != null and operateDate != ''">
           and (a.operate_date like concat('%',concat(#{operateDate},'%')))
        </if>
          </trim>
     order by id desc
</select>

<!-- 读一条记录 -->
<select id="getData" resultMap="xyCampaignMap" parameterType="com.anguo.oy.db.domain.XyCampaign">
    select * from  ${commonSchema}.xy_campaign
    where id = #{id}
</select>

<!-- 读一条记录 -->
<select id="getDataByfromopenid" resultMap="xyCampaignMap" parameterType="com.anguo.oy.db.domain.XyCampaign">
    select * from  ${commonSchema}.xy_campaign
    where fromopenid = #{fromopenid} order by id desc limit 1
</select>

<!-- 读一条记录 -->
<select id="getDataByopenid" resultMap="xyCampaignMap" parameterType="com.anguo.oy.db.domain.XyCampaign">
    select * from  ${commonSchema}.xy_campaign
    where toopenid = #{openid}
</select>

<!-- 插入记录  -->
<insert id="insertData" parameterType="com.anguo.oy.db.domain.XyCampaign" useGeneratedKeys="true" keyProperty="id">
	
	insert into  ${commonSchema}.xy_campaign
	<trim prefix="(" suffix=")" suffixOverrides=",">
		id,
		 		 		 		 		<if test="fromopenid != null">
				fromopenid,
	  	</if>
	  			 		 		<if test="fromnickname != null">
				fromnickname,
	  	</if>
	  			 		 		<if test="fromsex != null">
				fromsex,
	  	</if>
	  			 		 		<if test="fromheadimgurl != null">
				fromheadimgurl,
	  	</if>
	  			 		 		<if test="toopenid != null">
				toopenid,
	  	</if>
	  			 		 		<if test="tonickname != null">
				tonickname,
	  	</if>
	  			 		 		<if test="tosex != null">
				tosex,
	  	</if>
	  			 		 		<if test="toheadimgurl != null">
				toheadimgurl,
	  	</if>
	  			 		 		<if test="city != null">
				city,
	  	</if>
	  			 		 		<if test="dosamething != null">
				dosamething,
	  	</if>
	  			 		 		<if test="status != null">
				status,
	  	</if>
	  			 		 		<if test="operateUserId != null">
				operate_user_id,
	  	</if>
	  			 		 		<if test="operateDate != null">
				operate_date,
	  	</if>
	  			 	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
#{id},
		
		<if test="fromopenid != null">
#{fromopenid},
</if>
				<if test="fromnickname != null">
#{fromnickname},
</if>
				<if test="fromsex != null">
#{fromsex},
</if>
				<if test="fromheadimgurl != null">
#{fromheadimgurl},
</if>
				<if test="toopenid != null">
#{toopenid},
</if>
				<if test="tonickname != null">
#{tonickname},
</if>
				<if test="tosex != null">
#{tosex},
</if>
				<if test="toheadimgurl != null">
#{toheadimgurl},
</if>
				<if test="city != null">
#{city},
</if>
				<if test="dosamething != null">
#{dosamething},
</if>
				<if test="status != null">
#{status},
</if>
				<if test="operateUserId != null">
#{operateUserId},
</if>
				<if test="operateDate != null">
#{operateDate},
</if>
					</trim>
</insert>

<!-- 修改  -->
<update id="updateData" parameterType="com.anguo.oy.db.domain.XyCampaign">
	update  ${commonSchema}.xy_campaign 
	<set>
										<if test="fromopenid != null and fromopenid != ''">
			fromopenid=#{fromopenid},
		</if>
								<if test="fromnickname != null and fromnickname != ''">
			fromnickname=#{fromnickname},
		</if>
								<if test="fromsex != null and fromsex != ''">
			fromsex=#{fromsex},
		</if>
								<if test="fromheadimgurl != null and fromheadimgurl != ''">
			fromheadimgurl=#{fromheadimgurl},
		</if>
								<if test="toopenid != null and toopenid != ''">
			toopenid=#{toopenid},
		</if>
								<if test="tonickname != null and tonickname != ''">
			tonickname=#{tonickname},
		</if>
								<if test="tosex != null and tosex != ''">
			tosex=#{tosex},
		</if>
								<if test="toheadimgurl != null and toheadimgurl != ''">
			toheadimgurl=#{toheadimgurl},
		</if>
								<if test="city != null and city != ''">
			city=#{city},
		</if>
								<if test="dosamething != null and dosamething != ''">
			dosamething=#{dosamething},
		</if>
								<if test="status != null and status != ''">
			status=#{status},
		</if>
								<if test="operateUserId != null and operateUserId != ''">
			operate_user_id=#{operateUserId},
		</if>
								<if test="operateDate != null and operateDate != ''">
			operate_date=#{operateDate},
		</if>
					</set>
	where id=#{id}
</update>

<!-- 删除 -->
<delete id="deleteData" parameterType="com.anguo.oy.db.domain.XyCampaign">
	delete from  ${commonSchema}.xy_campaign 
	where id=#{id}
</delete>

</mapper>